<mat-card>
    <mat-card-title>Conformance</mat-card-title>
 <!--   <mat-card-subtitle>FHIR Graph Definition</mat-card-subtitle> -->
    <mat-divider></mat-divider>
    <mat-card-content>
     <!--   <mat-tab-group mat-stretch-tabs>
            <mat-tab> -->
    <td-markdown content="

        This application demonstrates a series of HL7 FHIR Conformance resources from a UK (developer) perspective using FHIR Servers hosted by Aire Logic:

        **The resources are illustrative and not official**

        [http://fhir.airelogic.com/ccri-fhir/STU3/metadata](http://fhir.airelogic.com/ccri-fhir/STU3/metadata)

        [http://fhir.airelogic.com/ccri-fhir/R4/metadata](http://fhir.airelogic.com/ccri-fhir/R4/metadata)

        ## FHIR GraphDefinition

        GraphDefinition explores ways of documenting FHIR Bundles especially FHIR Messages, FHIR Documents and Operations.
        It is not practical to profile a Bundle in the same way as resources, profiles add rules to resource and GraphDefinition adds rules to be set in the Bundles. Examples:

        [GraphDefinition - FHIR Document](graph/1)

        [GraphDefinition - FHIR Message](graph/2)

        [GraphDefinition - FHIR Operation Response](graph/3)

        ## FHIR ObservationDefinition

        ObservationDefinition works in conjunction with Observation profiles. It provides a simple way of defining FHIR Valuesets and units for codes.
        This resource is part of FHIR R4 only.

        [FHIR ObservationDefinition](observation)

        ## FHIR Questionnaire

        FHIR Questionnaire defines rules on FHIR QuestionnaireResponse, like Bundles QuestionnaireResponses can't be profiled. If configured in a validator, a Questionnaire will be used to verify FHIR QuestionnaireResponse.

        [FHIR Questionnaire](questionnaire)

        ## FHIR Validation

        To validate FHIR Resources using UK Care Connect profiles and UK NHS Terminology, Aire Logic have provided an online validation tool.

        [Aire Logic FHIR Validation](http://fhir.airelogic.com/)

">

    </td-markdown>
          <!--  </mat-tab>
        </mat-tab-group> -->
    </mat-card-content>
</mat-card>
