<mat-card>
    <mat-card-title>Conformance</mat-card-title>
 <!--   <mat-card-subtitle>FHIR Graph Definition</mat-card-subtitle> -->
    <mat-divider></mat-divider>
    <mat-card-content>
     <!--   <mat-tab-group mat-stretch-tabs>
            <mat-tab> -->
    <td-markdown content="

        This application demonstrates a series of HL7 FHIR Conformance resources from a UK (developer) perspective using FHIR Servers hosted by Aire Logic:

        **The resources are illustrative and not official**

        [http://fhir.airelogic.com/ccri-fhir/STU3/metadata](http://fhir.airelogic.com/ccri-fhir/STU3/metadata)

        [http://fhir.airelogic.com/ccri-fhir/R4/metadata](http://fhir.airelogic.com/ccri-fhir/R4/metadata)

        ## GraphDefinition

        GraphDefinition explores ways of documenting FHIR Bundles especially FHIR Messages, FHIR Documents and Operations.

        [GraphDefinition](graph)

        ## ObservationDefinition

        ObservationDefinition works in conjunction with Observation profiles. It provides a simple way of defining FHIR Valuesets and units for codes.

        [ObservationDefinition](observation)
">

    </td-markdown>
          <!--  </mat-tab>
        </mat-tab-group> -->
    </mat-card-content>
</mat-card>
