<td-expansion-panel   (expanded)="expandedEvent()"
                      (collapsed)="collapsedEvent()">
    <ng-template td-expansion-panel-header>
        <mat-toolbar >
            <mat-toolbar-row>
            <span *ngIf="link.target !== undefined">
                        <span *ngFor="let target of link.target">
                             <span *ngIf="level===0">
                                     <a mat-button target="_blank"
                                        [matTooltip]="getProfile(target.profile, target.type)"
                                        [href]="getProfile(target.profile, target.type)"
                                        [color]="getColour(level)"> {{target.type}}</a>
                             </span>
                        </span>
            </span>
            <span *ngIf="level>0">
                 <mat-chip>Path = {{link.path}}</mat-chip>
                <span *ngIf="link.sliceName !== undefined">
                    <mat-chip>Slice = {{link.sliceName}}</mat-chip>
                </span>
              <span *ngIf="link.target !== undefined">
                    <span *ngFor="let target of link.target">
                        &nbsp;
                         <span *ngIf="target.extension !== undefined && getParams(target.extension).length != 0">
                                <mat-chip>Params = {{getParams(target.extension)}}</mat-chip> &nbsp;
                           </span>
                             <a mat-stroked-button [color]="getColour(level)" target="_blank"
                                [matTooltip]="getProfile(target.profile, target.type)"
                                [href]="getProfile(target.profile, target.type)">{{target.type}}</a>

                    </span>

                </span>
            </span>
                <div *ngIf="link.extension !== undefined && getParams(link.extension).length != 0"
                     class="mat-card-content">
                    <b>Params</b>&nbsp;{{getParams(link.extension)}}
                </div>
            &nbsp;<mat-chip>{{getNode(link)}}</mat-chip>
            <span class="example-spacer"></span>
            <span *ngIf="link.max !== undefined || link.min !== undefined">
                  <mat-chip-list>
                    <mat-chip>
                      Min={{link.min}}</mat-chip>
                    <mat-chip>
                      Max={{link.max}}</mat-chip>
                  </mat-chip-list>
            </span>
                &nbsp;

                <span *ngIf="expanded">
                    <mat-icon color="accent">keyboard_arrow_up</mat-icon>
                </span>
                <span *ngIf="!expanded">
                    <mat-icon color="accent">keyboard_arrow_down</mat-icon>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </ng-template>
   <!-- <td-expansion-summary>
        <div *ngIf="link.description != undefined" >
            <mat-card-content>
            <td-markdown [content]="getMarkdown(link.description)">
            </td-markdown>
            </mat-card-content>
        </div>
    </td-expansion-summary> -->
    <mat-card-content>

        <div *ngIf="link.extension !== undefined && getParams(link.extension).length != 0"
             class="mat-card-content">
            <b>Params</b>&nbsp;{{getParams(link.extension)}}
        </div>
        <div *ngIf="link.description != undefined" class="mat-card-content">
            <td-markdown [content]="getMarkdown(link.description)">
            </td-markdown>
        </div>



        <span *ngIf="link.target !== undefined">
    <span *ngFor="let target of link.target">

       <div class="mat-card-content"
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="0px"
            fxLayoutGap.xs="0">
         <div class="mat-body-1" fxFlex="30%">


            </div>
           <div class="mat-body-1" fxFlex="70%">

                <span *ngIf="target.compartment != undefined">
                      <span *ngFor="let compartment of target.compartment">
                         <a mat-raised-button color="primary"> {{compartment.code}}</a>
                         &nbsp;<b>Rule</b> {{compartment.rule}}
                      </span>
                </span>
           </div>
       </div>
         <span *ngIf="target.link != undefined">
            <span *ngFor="let sublink of target.link">
                   <div class="mat-card-content"
                        fxLayout
                        fxLayout.xs="column"
                        fxLayoutAlign="center"
                        fxLayoutGap="0px"
                        fxLayoutGap.xs="0">
            <div class="mat-body-1" fxFlex="{{getLeft()}}">

            </div>
            <div class="mat-body-1" fxFlex="{{getRight()}}">
                <app-graph-definition-link [link]="sublink" [level]="level+1"></app-graph-definition-link>
            </div>
          </div>
             </span>
          </span>
    </span>
 </span>

    </mat-card-content>
</td-expansion-panel>
